<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="defaultPattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{0} - %msg%n" />


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${defaultPattern}
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>memento.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>
                ${defaultPattern}
            </pattern>
        </encoder>
    </appender>


    <logger name="com.github.mlangc.memento" level="debug"/>
    <logger name="com.github.mlangc.memento.db.google.sheets.GsheetsVocabularyDb" level="debug"/>
    <logger name="com.github.mlangc.memento.trainer.console.ConsoleTrainer" level="debug"/>

    <root level="warn">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
